h1 {
	text-align: center;
	color:#000000;
	font-style: italic;
	}
	
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:#D81B60;
  position: sticky;
}

li a {
  display: block;
  color:#FFC107;
  padding: 8px 16px;
  text-decoration: none;
  font-size:20px;
  font-weight: bold;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

div#menu {
  border:2px solid green;
  width:200px;
  float:left;
  margin:10px 0 10px 5px;
  height:350px;
}

div#text1 {
  border:2px solid blue;
  width:500px;
  margin:10px 0 10px 235px;
  min-height:500px;
  height:500px
}

body, html{
    padding:0;
    margin:0;
    position:relative;
    height:100%
}
.header, .footer{
    width:100%;
    background:#ccc;
    padding:10px;
    box-sizing:border-box;
}
.content{
    background:#eee;
    width:100%;
    padding:10px;
    height:100%;
    box-sizing:border-box;
    padding:10px;
}
.left{
    width:auto;
	float:left;
    background:#FFFFFF;
    height:100%;
}
.right{
    width:83.5%;
	float:right;
    background:#FFFFFF;
    height:100%;
	text-align: center;
}

img {
  width: 50%;
  height: auto;
}

